/* div {
  width: 100px;
  height: 100px;
  position: absolute;
}
#box1 {
  background-color: blue;
  padding-right: 50px;
  padding-bottom: 50px;
}
#box2 {
  background-color: yellow;
} */

/* 境界 */
/* .aaa {
  background-color: #ffff00;
}
#aaa {
  background-color: #00ffff;
} */

/* 境界 */
/* div {
  background-color: yellow;
} */
